### Part 1
### In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python. Here are the steps that you would need to work on: - Null hypothesis - Alternate hypothesis - Level of significance - Test statistic - P-value - F table

In [1]:
import numpy as np
import pandas as pd
from scipy import stats

In [5]:
df = pd.read_excel("anova_lab_data.xlsx")
df

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

### State the null hypothesis

H0: There is no statistical difference between the mean power levels and etching rates

### State the alternate hypothesis

H1 : There is a statistical significant difference between the groups power levels and etching rates

### What is the significance level

The significance level that we'll assume is 5%

### What are the degrees of freedom of model, error terms, and total DoF

Degress of Freedom: 2 (k - 1, where is the number of groups)

Error terms: Type 1 and 2 errors. T1: Reject the H0 when it should have been accepted. T2: False H0 got accepted

Total DoF: 14 (N -1 , sample size minus 1)

### Part 2 use Python to conduct ANOVA.
### What conclusions can you draw from the experiment and why?

In [19]:
#divide in 3 levels
small_power = np.array([5.43,5.71,6.22,6.01,5.59])
medium_power = np.array([6.24,6.71,5.98,5.66,6.60])
big_power = np.array([8.79,9.20,7.90,8.15,7.55])

In [26]:
small_power.mean()

5.792

In [27]:
medium_power.mean()

6.2379999999999995

In [25]:
big_power.mean()

8.318

In [29]:
F_critical, p_value = stats.f_oneway(small_power,medium_power,big_power)
print("p value", p_value)
if p_value < 0.05:
    print("We reject H0: there is a difference between the means of the three groups")
else:
    print("we accept H0: the means are the equal")

p value 7.506584272358903e-06
We reject H0: there is a difference between the means of the three groups

# Conclusion: We can reject the H0 because if we change the power the plasma will change